PORT=3001
NODE_ENV=production

# Use this only in cloud to persist files in a mounted disk/volume.
# Local default is the server folder.
STORAGE_ROOT_DIR=

ASAAS_API_KEY=
ASAAS_AMBIENTE=production

ASSINAFY_API_KEY=
ASSINAFY_AMBIENTE=production

GPT_API_KEY=
GPT_API_BASE_URL=https://api.openai.com/v1
GPT_MODEL=gpt-4o-mini
